figure {
    display: flex;
    flex-direction: column;
    box-shadow: 15px 5px grey;
    margin-top: 32px;
    border-radius: 5%;

    img {
        display: flex;
        max-height: 200px;
        max-width: auto;
        object-fit: cover;
        border-radius: 5% 5% 0 0;
    }

    h2 {
        display: flex;
        justify-content: center;
        color: #4a3931;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

h1 {
    display: flex;
    padding: 16px;
    color: #4a3931;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 16px;
}

/* Desktop : 3 colonnes */
@media (min-width: 768px) and (min-width: 1024px) {
    .app {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(300px, 325px);
    }
}